.data-pokemon{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-data {
  text-align: left;
  margin-left: 10px;
}

.card-body  {
  background: #fff;
  border-radius:15px;
}
.type {
  display: flex;
  justify-content: space-around;
}
